In [24]:
# Import the required libraries and dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [25]:
airbnb_df1 = pd.read_csv(
    "Resources/01_24_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df2 = pd.read_csv(
    "Resources/02_24_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df3 = pd.read_csv(
    "Resources/03_24_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df4 = pd.read_csv(
    "Resources/04_24_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df6 = pd.read_csv(
    "Resources/6_23_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df7 = pd.read_csv(
    "Resources/7_23_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df8 = pd.read_csv(
    "Resources/8_23_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df9 = pd.read_csv(
    "Resources/9_23_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df10 = pd.read_csv(
    "Resources/10_23_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df11 = pd.read_csv(
    "Resources/11_23_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

airbnb_df12 = pd.read_csv(
    "Resources/12_23_listings.csv",
    # index_col='id', 
    # parse_dates=True
)

# Display the first and last five rows of the DataFrame
airbnb_df1.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,21935608,https://www.airbnb.com/rooms/21935608,20240105143223,2024-01-05,previous scrape,Rental unit in New York · ★4.67 · 1 bedroom · ...,NaN,NaN,https://a0.muscache.com/pictures/55c47994-3f02...,5448955,...,4.8,5.0,4.4,NaN,f,1,1,0,0,0.20
1,743430766348459803,https://www.airbnb.com/rooms/743430766348459803,20240105143223,2024-01-05,previous scrape,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,83422715,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2,4539906,https://www.airbnb.com/rooms/4539906,20240105143223,2024-01-06,previous scrape,Rental unit in New York · 1 bedroom · 1 bed · ...,NaN,NaN,https://a0.muscache.com/pictures/d20c2690-17a3...,23540800,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
3,22122723,https://www.airbnb.com/rooms/22122723,20240105143223,2024-01-05,previous scrape,Rental unit in New York · 1 bedroom · 1 bed · ...,NaN,NaN,https://a0.muscache.com/pictures/6a943c46-cb6c...,43719554,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
4,22434861,https://www.airbnb.com/rooms/22434861,20240105143223,2024-01-05,previous scrape,Rental unit in Brooklyn · 3 bedrooms · 4 beds ...,NaN,NaN,https://a0.muscache.com/pictures/3b4347a6-3300...,5925222,...,5.0,5.0,5.0,NaN,f,1,1,0,0,0.01

In [26]:
#Identify colums within dataframe
airbnb_df1.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [27]:
#identify column types within dataframe
airbnb_df1.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 75, dtype: object

In [40]:
combined_data = pd.concat([airbnb_df1, 
                           airbnb_df2, 
                           airbnb_df3, 
                           airbnb_df4, 
                           airbnb_df6, 
                           airbnb_df7, 
                           airbnb_df8, 
                           airbnb_df9, 
                           airbnb_df10, 
                           airbnb_df11,
                           airbnb_df12], axis=0)

combined_data.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2.193561e+07,https://www.airbnb.com/rooms/21935608,2.024011e+13,2024-01-05,previous scrape,Rental unit in New York · ★4.67 · 1 bedroom · ...,NaN,NaN,https://a0.muscache.com/pictures/55c47994-3f02...,5448955,...,4.8,5.0,4.4,NaN,f,1,1,0,0,0.20
1,7.434308e+17,https://www.airbnb.com/rooms/743430766348459803,2.024011e+13,2024-01-05,previous scrape,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,83422715,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2,4.539906e+06,https://www.airbnb.com/rooms/4539906,2.024011e+13,2024-01-06,previous scrape,Rental unit in New York · 1 bedroom · 1 bed · ...,NaN,NaN,https://a0.muscache.com/pictures/d20c2690-17a3...,23540800,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
3,2.212272e+07,https://www.airbnb.com/rooms/22122723,2.024011e+13,2024-01-05,previous scrape,Rental unit in New York · 1 bedroom · 1 bed · ...,NaN,NaN,https://a0.muscache.com/pictures/6a943c46-cb6c...,43719554,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
4,2.243486e+07,https://www.airbnb.com/rooms/22434861,2.024011e+13,2024-01-05,previous scrape,Rental unit in Brooklyn · 3 bedrooms · 4 beds ...,NaN,NaN,https://a0.muscache.com/pictures/3b4347a6-3300...,5925222,...,5.0,5.0,5.0,NaN,f,1,1,0,0,0.01

In [51]:
print(combined_data.isnull().sum())

id                                                   0
listing_url                                          0
scrape_id                                            0
last_scraped                                         0
source                                               0
                                                 ...
calculated_host_listings_count                       0
calculated_host_listings_count_entire_homes          0
calculated_host_listings_count_private_rooms         0
calculated_host_listings_count_shared_rooms          0
reviews_per_month                               121077
Length: 75, dtype: int64

In [41]:
combined_data.shape

(444526, 75)

In [42]:
combined_data.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [43]:
combined_data.dtypes

id                                              float64
listing_url                                      object
scrape_id                                       float64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 75, dtype: object

In [53]:
combined_data_df = combined_data.loc[:,['id', 
                                       'last_scraped', 
                                       'host_id',
                                       'host_since',
                                       'host_listings_count',
                                       'neighbourhood_cleansed',
                                       'neighbourhood_group_cleansed',
                                       'latitude',
                                       'longitude',
                                       'property_type',
                                       'room_type',
                                       'accommodates',
                                       'price',
                                       'number_of_reviews',
                                       'number_of_reviews_l30d']]

combined_data_df.head()

,id,last_scraped,host_id,host_since,host_listings_count,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,price,number_of_reviews,number_of_reviews_l30d
0,2.193561e+07,2024-01-05,5448955,2013-03-13,1.0,East Village,Manhattan,40.73179,-73.98679,Entire rental unit,Entire home/apt,3,NaN,15,0
1,7.434308e+17,2024-01-05,83422715,2016-07-12,1.0,Flatbush,Brooklyn,40.65375,-73.95502,Entire rental unit,Entire home/apt,3,$289.00,0,0
2,4.539906e+06,2024-01-06,23540800,2014-11-09,1.0,Hell's Kitchen,Manhattan,40.75378,-73.99633,Entire rental unit,Entire home/apt,3,NaN,0,0
3,2.212272e+07,2024-01-05,43719554,2015-09-08,1.0,Harlem,Manhattan,40.82440,-73.94598,Private room in rental unit,Private room,1,NaN,0,0
4,2.243486e+07,2024-01-05,5925222,2013-04-14,1.0,Bushwick,Brooklyn,40.69020,-73.91782,Entire rental unit,Entire home/apt,6,NaN,1,0

In [54]:
combined_data_df.shape

(444526, 15)

In [55]:
print(combined_data_df.isnull().sum())

id                                  0
last_scraped                        0
host_id                             0
host_since                         66
host_listings_count                66
neighbourhood_cleansed              0
neighbourhood_group_cleansed        0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
price                           55221
number_of_reviews                   0
number_of_reviews_l30d              0
dtype: int64

In [60]:
clean_combined_data = combined_data_df.dropna()
clean_combined_data.head()

,id,last_scraped,host_id,host_since,host_listings_count,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,price,number_of_reviews,number_of_reviews_l30d
1,7.434308e+17,2024-01-05,83422715,2016-07-12,1.0,Flatbush,Brooklyn,40.65375,-73.95502,Entire rental unit,Entire home/apt,3,$289.00,0,0
9,1.194300e+04,2024-01-05,45445,2009-10-12,1.0,Flatbush,Brooklyn,40.63702,-73.96327,Private room in home,Private room,1,$150.00,0,0
11,1.312228e+06,2024-01-05,7130382,2013-06-26,1.0,Clinton Hill,Brooklyn,40.68371,-73.96461,Private room in rental unit,Private room,1,$55.00,3,0
23,1.344048e+07,2024-01-06,17385374,2014-06-29,1.0,Upper East Side,Manhattan,40.76550,-73.97080,Private room in rental unit,Private room,1,$301.00,0,0
29,4.527754e+07,2024-01-05,51501835,2015-12-16,139.0,Hell's Kitchen,Manhattan,40.76661,-73.98810,Entire rental unit,Entire home/apt,4,$144.00,9,0

In [61]:
print(clean_combined_data.isnull().sum())

id                              0
last_scraped                    0
host_id                         0
host_since                      0
host_listings_count             0
neighbourhood_cleansed          0
neighbourhood_group_cleansed    0
latitude                        0
longitude                       0
property_type                   0
room_type                       0
accommodates                    0
price                           0
number_of_reviews               0
number_of_reviews_l30d          0
dtype: int64

In [62]:
clean_combined_data.shape

(389259, 15)

In [64]:
clean_combined_data.to_csv('cleaned_data.csv', index = False)